/*doc
---
title: Alerts
name: alerts
category: alerts
---

```html_example
<div class="alert alert-success text-14 alert-box">
  <div class="media">
    <div class="media-body media-middle">
      <div class="alert-icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <div class="alert-text">
        Successfully run. Total query runtime: 32 msec. 1 row retrieved
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger font-red text-14 alert-box">
  <div class="media">
    <div class="media-body media-middle">
      <div class="alert-icon">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      </div>
      <div class="alert-text">
        Error retrieving properties - INTERNAL SERVER ERROR
      </div>
    </div>
  </div>
</div>

```
*/

.alert-box {
  padding: 15px;
}

.alert-icon {
  display: table-cell;
}

.alert-text {
  display: table-cell;
  padding-left: 10px;
}
