/*doc
---
title: Alerts
name: alerts
category: alerts
---

```html_example
<div class="alert-row">
  <div class="alert alert-success border-green-2 font-green-3 text-14 alert-box">
    <div class="media">
      <div class="media-body media-middle">
        <div class="alert-icon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div class="alert-text">
          Successfully run. Total query runtime: 32 msec. 1 row retrieved
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert-row">
  <div class="alert alert-danger border-red-2 font-red-3 text-14 alert-box">
    <div class="media">
      <div class="media-body media-middle">
        <div class="alert-icon">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        <div class="alert-text">
          Error retrieving properties - INTERNAL SERVER ERROR
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert-row">
  <div class="alert alert-info border-blue-2 font-primary-blue text-14 alert-box">
    <div class="media">
      <div class="media-body media-middle">
        <div class="alert-text">
          This is a neutral message
        </div>
      </div>
    </div>
  </div>
</div>

```
*/

.alert-row {
  display: block;
}

.alert-box {
  padding: 15px;
  display: inline-block;
}

.alert-icon {
  display: inline-block;
}

.alert-text {
  display: inline-block;
  padding: 0 12px 0 10px;
}

.media-body {
  display: inline;
  vertical-align: top;
}
