/*doc
---
title: Alerts
name: alerts
category: alerts
---

```html_example
<div class="alert-row">
  <div class="alert alert-success border-green-2 font-green-3 text-14 alert-box">
    <div class="media">
      <div class="media-body media-middle">
        <div class="alert-icon success-icon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div class="alert-text">
          Successfully run. Total query runtime: 32 msec. 1 row retrieved
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert-row">
  <div class="alert alert-danger border-red-2 font-red-3 text-14 alert-box">
    <div class="media">
      <div class="media-body media-middle">
        <div class="alert-icon error-icon">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        <div class="alert-text">
          Error retrieving properties - INTERNAL SERVER ERROR
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert-row">
  <div class="alert alert-info border-blue-2 font-primary-blue text-14 alert-box">
    <div class="media">
      <div class="media-body media-middle">
        <div class="alert-text">
          This is a neutral message
        </div>
      </div>
    </div>
  </div>
</div>

```
*/

.alert-row {
  display: block;
}

.alert-box {
  padding: 0px;
  display: inline-block;
}

.alert.alert-info {
  padding: 15px;
}

.alert-icon {
  display: inline-block;
  color: white;
  padding: 15px;
  width: 50px;
  height: 50px;
  font-size: 14px;
}

.success-icon {
  background: #3a773a;
}

.error-icon {
  background: #d0021b;
}

.alert-text {
  display: inline-block;
  padding: 0 12px 0 10px;
}

.media-body {
  display: inline;
  vertical-align: top;
}

.alert-row {
  display: block;
}

.alert-box {
  padding: 0px;
  display: inline-block;
}

.alert-icon {
  display: inline-block;
  color: white;
  padding: 15px;
  width: 50px;
  height: 50px;
  font-size: 14px;
  text-align: center;
}

.success-icon {
  background: #3a773a;
}

.error-icon {
  background: #d0021b;
}

.alert-text {
  display: inline-block;
  padding: 0 12px 0 10px;
}

.alert-info {
  border-color: #84acdd
}

.media-body {
  display: table-row;
  vertical-align: top;
}

.pg-prop-status-bar {
  padding: 5px;

  .alert-icon {
    padding: 8px;
    width: 35px;
    height: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .alert-text {
    border: 1px solid $color-red-2;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 7px 12px 5.5px 10px;
    border-left: 0px;
  }

  .error-in-footer {
    border-radius: 4px;

    .alert-text {
      border-color: $color-red-2;
    }
  }

  .success-in-footer {
    border-radius: 4px;

    .alert-text {
      border-color: $color-green-2;
    }
  }

  .info-in-footer {
    border: 1px solid $primary-blue;
    border-radius: 4px;
    height: 35px;

    .alert-text {
      border: 0px;
    }
  }
}

