/*doc
---
title: Overview
name: colors-overview
category: colors
---

Below are the colors for pgadmin4. To use, copy and paste the hex codes into the CSS.

The current app may have more colors than what is included here. When a color is encountered in the app that is not documented here, default to replacing that color with one that is documented here.


*/
